<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
</head>
<body>

    <nav>
        <div class="logo">{{ site.title }}</div>
        <div class="tag">Available on Mac OS</div>
    </nav>

    <div class="container">
        {{ content }}
    </div>

    <footer>
        <div class="container">
            <p>© {{ "now" | date: "%Y" }} {{ site.title }} Enterprise.</p>
        </div>
    </footer>

</body>
</html>
